<div class="container center vertically-center">
  <div class="main">    
    <a routerLink="/home"><h1 class="logo title">Dwight Bell</h1></a>

    <div class="pages">
      <a routerLink="/code" class="button">Code</a>
      <a routerLink="/resume" class="button">Resume</a>
      <a routerLink="/other" class="button">Fun Stuff!</a>
    </div>
    
    <div class="social">
      <a target="_blank" rel="noopener noreferrer" class="button github" href="https://github.com/LetThereBeDwight"><i class="fa fa-github"></i></a>
      <a target="_blank" rel="noopener noreferrer" class="button linkedin" href="https://www.linkedin.com/in/dwightbell/"><i class="fa fa-linkedin"></i></a>
      <a target="_blank" rel="noopener noreferrer" class="button email" href="mailto:dwight.bell1+angularspa@gmail.com"><i class="fa fa-envelope"></i></a>
    </div>
  </div>
</div>