<app-topnav></app-topnav>

<div class="container center top-title">
  <h1 class="logo page-title">{{title.toUpperCase()}}</h1>
</div>

<div class="main">
  <mat-accordion>
    <div class="resume">
      <div class="item edu-background">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
            Educational Background
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="school-dates">Christopher Newport University [August 2007 - June 2011]</p>
          <p class="text-desc">Bachelor of Science – Double major in C.S. and Mathematics</p>
        </mat-expansion-panel>
      </div>

      <div class="item skills">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Technical Skills
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-accordion multi="true">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title class="subtitle">
                  Languages
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-list class="tech-skill-list">
                <mat-list-item *ngFor="let item of LANGUAGES">{{ item }}</mat-list-item>
              </mat-list>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title class="subtitle">
                  APIs/Libraries/Frameworks
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-list class="tech-skill-list">
                <mat-list-item *ngFor="let item of APIS_LIBRARIES_FRAMEWORKS">{{ item }}</mat-list-item>
              </mat-list>
            </mat-expansion-panel>
          
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title class="subtitle">
                  Databases
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-list class="tech-skill-list">
                <mat-list-item *ngFor="let item of DATABASES">{{ item }}</mat-list-item>
              </mat-list>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title class="subtitle">
                  Tools and Etc.
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-list class="tech-skill-list">
                <mat-list-item *ngFor="let item of TOOLS">{{ item }}</mat-list-item>
              </mat-list>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title class="subtitle">
                  Operating Systems
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-list class="tech-skill-list">
                <mat-list-item *ngFor="let item of OPERATING_SYSTEMS">{{ item }}</mat-list-item>
              </mat-list>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title class="subtitle">
                  Methodologies
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-list class="tech-skill-list">
                <mat-list-item *ngFor="let item of METHODOLOGIES">{{ item }}</mat-list-item>
              </mat-list>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-expansion-panel>
      </div>
      
      <div class="item prof-background">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Professional Background
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-accordion multi="true">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title class="subtitle">
                  SurgeForward/Catalyte
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p class="title-dates">Senior Software Developer [November 2016 - Current]</p>
              <div class=text-desc>
                <p>
                  As a contractor for SurgeForward I've worked with a variety of clients to design and implement software specific to each of their unique needs.
                </p>
                <p>
                  The role has given me an opportunity to see a variety of development and managerial styles, while allowing me to further expand my technical repertoire.
                </p>
              </div>

              <mat-accordion multi="true" class=sub-subtitle>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-icon matListIcon style="margin-right:10px">note</mat-icon>
                      Surge Internal Development
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="text-desc">
                    <p>
                      My time in between
                    </p>
                  </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-icon matListIcon style="margin-right:10px">note</mat-icon>
                      Vorbeck Materials
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="text-desc">
                    <p>
                      My time at Vorbeck
                    </p>
                  </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-icon matListIcon style="margin-right:10px">note</mat-icon>
                      Emory University/Emory Healthcare
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="text-desc">
                    <p>
                      My time at Emory
                    </p>
                  </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-icon matListIcon style="margin-right:10px">note</mat-icon>
                      DigitalGlobe/Radiant Solutions
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="text-desc">
                    <p>
                      My time at DG
                    </p>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title class="subtitle">
                  Metron Scientific Solutions
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p class="title-dates">Software Analyst and Architect [June 2011 - November 2016]</p>
              <div class="text-desc">
                <p>
                  My time at Metron
                </p>
              </div>
              <mat-accordion multi="true" class=sub-subtitle>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-icon matListIcon style="margin-right:10px">note</mat-icon>
                      SAFEGARD
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p class="text-desc">
                    STUFF
                  </p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-icon matListIcon style="margin-right:10px">note</mat-icon>
                      STORM
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p class="text-desc">
                    STUFF
                  </p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-icon matListIcon style="margin-right:10px">note</mat-icon>
                      ExAMS
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p class="text-desc">
                    STUFF
                  </p>
                </mat-expansion-panel>
              </mat-accordion>
            </mat-expansion-panel>
            
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title class="subtitle">
                  Thomas Jefferson National Accelerator Facility
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p class="title-dates">Research Assistant [October 2011 - April 2011]</p>
              <div class="text-desc">
                <p>
                  During my senior year at CNU, I was lucky enough to land an assistantship at Jefferson Lab in Newport News, VA.
                  So began my love of working with scientists.
                </p>
                <p>
                  As an assistant, I was tasked with helping the group implement and test CUDA versions of various facets of their work to achieve some increased efficiency through parallelization.
                </p>
                <p>These efforts included the following:</p>

                <mat-list style="font-weight:bold">
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title style="font-weight:bold">
                            <mat-icon matListIcon style="margin-right:10px">note</mat-icon>
                            Implementation of a Kalman filter
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="text-desc">
                        <p>
                          This effort was largely unsuccessful - the algorithm, generically, does not lend itself well to parallelization. Since my task was specific to paralleization(they had a group specifically working on GPU farming processes), this exploration and initial implementation was a short effort.
                        </p>
                        <p>
                          It was something of a square-peg round-hole situation, but the effort did make for a good exploration into CUDA(outside of some previous classwork I had done).
                        </p>
                      </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title style="font-weight:bold">
                            <mat-icon matListIcon style="margin-right:10px">note</mat-icon>
                            Implementation of a cluster finding algorithm
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="text-desc">
                        <p>
                          This effort was much more successful than the first. The detector is made up of a large array of sensors used to record the collision. The algorithm for finding clusters of these sensors firing at the same time was quite simple, and allowed for high levels of parallelization.
                        </p>
                        <p>
                          This implementation allowed the group to find clusters within their datasets around 3 times faster than the naive serial implementation.
                        </p>
                      </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title class="text-desc" style="font-weight:bold">
                            <mat-icon matListIcon style="margin-right:10px">note</mat-icon>
                            Implementation of a segment finding algorithm
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                        <div class="text-desc">
                          <p>
                            Similar to the cluster finding algorithm - this algorithm for finding segments of these sensors firing at the same time(specifically looking for uncorrelated noise) was quite simple, and allowed for high levels of parallelization.
                          </p>
                          <p>
                            This implementation allowed the group to find and remove noise from their datasets on the order of 1000 times faster than the naive serial implementation.
                          </p>
                        </div>
                    </mat-expansion-panel>
                </mat-list>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title class="subtitle">
                  Before It All Began(or How I Learned to Have a Job)
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="text-desc">
                <p>
                  This section isn't of interest to everyone - it doesn't appear on my actual resume, my LinkedIn, or really anywhere that I can't tuck it into an expansion panel.
                </p>
                <p>
                  But it is to me, so here it is. I feel I owe large part of my work ethic and drive from first learning to have a job, before attempting to build a career. I am proud of how I was able to do so, in tandem with working toward my educational goals.
                </p>
                <p>
                  My first job was at the ripe age of 15, working for a small pet shop called Wally's Aquarium(catering specifically to aquarium owners), in Alexandria, VA. 
                  Along with traditional retail duties(register work, stocking shelves, yawn) I cleaned and scraped dirty tanks, helped customers find what they needed and educated them about the various lives they were about to be in care of.
                  I look back on my time at this job incredibly fondly, and still to this day have an affinity for aquariums(my wife and I make a point of visiting public aquariums whenever we travel!).
                </p>
                <p>
                  From there, I only took on one more retail job(teen clothing store over a holiday is NOT a job I look back at fondly), and worked my way through college as a server at a handful of restaurants.
                  For viewers who've worked in restaurants, you'll understand that working as a server was an incredible learning experience in patience, civility, and time and stress management.
                  For those who haven't, I hope you appreciate the work done by everyone in restaurants to make your night out as best as possible.
                </p>
                <p>
                  And the rest is history.
                </p>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-expansion-panel>
      </div>

      <div class="item resume-downloads">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Downloads
            </mat-panel-title>
          </mat-expansion-panel-header>

          <button *ngFor="let item of RESUME_FORMATS" (click)="downloadResume()">
              Download as {{ item }}
          </button>
        </mat-expansion-panel>
      </div>
    </div>
  </mat-accordion>

  <div style="color:white">TODO: Add buttons for download, fill out jobs, maybe add more tech skills, maybe add about me section?</div>
  <div style="color:white">FIXME: Grid the tech skills</div>
</div>