<app-topnav></app-topnav>

<div class="container center top-title">
  <h1 class="logo page-title">{{title.toUpperCase()}}</h1>
</div>

<div class="main">
  <mat-accordion>
    <div class="resume">
      <div class="item skills">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Technical Skills
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <mat-accordion multi="true">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title class="subtitle">
                    Languages
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list class="tech-skill-list">
                  <mat-list-item *ngFor="let item of LANGUAGES">{{ item }}</mat-list-item>
                </mat-list>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title class="subtitle">
                    APIs/Libraries/Frameworks
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list class="tech-skill-list">
                  <mat-list-item *ngFor="let item of APIS_LIBRARIES_FRAMEWORKS">{{ item }}</mat-list-item>
                </mat-list>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title class="subtitle">
                    Tools
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list class="tech-skill-list">
                  <mat-list-item *ngFor="let item of TOOLS">{{ item }}</mat-list-item>
                </mat-list>
              </mat-expansion-panel>
            
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title class="subtitle">
                    Databases
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list class="tech-skill-list">
                  <mat-list-item *ngFor="let item of DATABASES">{{ item }}</mat-list-item>
                </mat-list>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title class="subtitle">
                    Operating Systems
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list class="tech-skill-list">
                  <mat-list-item *ngFor="let item of OPERATING_SYSTEMS">{{ item }}</mat-list-item>
                </mat-list>
              </mat-expansion-panel>
  
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title class="subtitle">
                    Methodologies
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list class="tech-skill-list">
                  <mat-list-item *ngFor="let item of METHODOLOGIES">{{ item }}</mat-list-item>
                </mat-list>
              </mat-expansion-panel>

            </mat-accordion>
          </div>
        </mat-expansion-panel>
      </div>
      
      <div class="item prof-background">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Professional Background
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <mat-accordion multi="true">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title class="subtitle">
                    SurgeForward/Catalyte
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="title-dates">Senior Software Developer [November 2016 - Current]</p>
                <p class="text-desc">
                  As a contractor for SurgeForward I've worked with a variety of clients to design and implement software specific to their unique needs.
                  The role has given me a chance to see a variety of development and managerial styles, while allowing me to expand my technical repertoire.
                </p>

                <mat-accordion multi="true" class=sub-subtitle>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Surge Internal Development
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p class="text-desc">
                      STUFF
                    </p>
                  </mat-expansion-panel>

                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Vorbeck Materials
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p class="text-desc">
                      STUFF
                    </p>
                  </mat-expansion-panel>

                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Emory University/Emory Healthcare
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p class="text-desc">
                      STUFF
                    </p>
                  </mat-expansion-panel>

                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        DigitalGlobe/Radiant Solutions
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p class="text-desc">
                      STUFF
                    </p>
                  </mat-expansion-panel>
                </mat-accordion>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title class="subtitle">
                    Metron Scientific Solutions
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="title-dates">Software Analyst and Architect [June 2011 - November 2016]</p>
                <p class="text-desc">
                  STUFF
                </p>
              </mat-expansion-panel>
              
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title class="subtitle">
                    Thomas Jefferson National Accelerator Facility
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="title-dates">Research Assistant [October 2011 - April 2011]</p>
                <p class="text-desc">
                  STUFF
                </p>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </mat-expansion-panel>
      </div>

      <div class="item edu-background">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Educational Background
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="school-dates">Christopher Newport University [August 2007 - June 2011]</p>
          <p class="text-desc">Bachelor of Science – Double major in C.S. and Mathematics</p>
        </mat-expansion-panel>
      </div>

      <div class="item resume-downloads">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Downloads
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item *ngFor="let item of RESUME_FORMATS" class="resume-download-list">
                <button (click)="scrollToTop()">Download as {{ item }}</button>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </div>
    </div>
  </mat-accordion>

  <div style="color:white">TODO: Add buttons for download, fill out jobs, maybe add more tech skills</div>
</div>