/* You can add global styles to this file, and also import other style files */

// Solarized colors
$color-base03: #002b36;
$color-base02: #073642;
$color-base01: #586e75;
$color-base00: #657b83;
$color-base0: #839496;
$color-base1: #93a1a1;
$color-base2: #eee8d5;
$color-base3: #fdf6e3;
$color-yellow: #b58900;
$color-orange: #cb4b16;
$color-red: #dc322f;
$color-magenta: #d33682;
$color-violet: #6c71c4;
$color-blue: #268bd2;
$color-cyan: #2aa198;
$color-green: #859900;

// Brand Colors
$color-gmail-red:#ea4335;
$color-linkedin-blue: #0077b5;
$color-github-grey: #fafafa;

html {
    background-color: $color-base03;
}

.container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}.container.center {
    justify-content: center;
    text-align: center;
}.container.vertically-center {
    height: 90vh;
    align-items: center;
}.container.top-title {
    margin: 2vh 0vw;
    align-items: center;
}

.topnav {
    position: relative;
}.topnav .button {
    display: inline-block;
    background-color: $color-base02;
    color: $color-base01;
    border: 0.1rem solid $color-base01;
    font-family: monospace;
    font-weight: lighter;
    font-size: 2rem;
    transition: all 0.3s ease;
    padding: 0.5rem 0.5rem;
    margin-right: 0.75rem;
    text-decoration: none;
}.topnav:hover {
    color: $color-orange;
    border-color: $color-orange;
}.topnav .button:last-child {
    margin-right: 0;
}

.logo {
    display: inline-block;
    background-color: $color-base02;
    color: $color-base0;
    border: 0.2rem solid $color-base0;
    font-family: monospace;
    font-weight: lighter;
    transition: all 0.7s ease;
    margin: 0;
}.logo.home-title {
    margin-bottom: 3rem;
    padding: 0.3rem 3rem;
    font-size: 7rem;
}.logo.home-title:hover {
    color: $color-base3;
    border-color: $color-base3;
}.logo.page-title {
    padding: 0.3rem 3rem;
    font-size: 4rem;
    font-weight: normal;
    color: $color-base1;
    border: 0.2rem solid $color-base1;
}

.pages {
    display: flex;
    margin-bottom: 4rem;
}.pages .button {
    display: inline-block;
    background-color: $color-base02;
    color: $color-base01;
    border: 0.1rem solid $color-base01;
    font-family: monospace;
    font-weight: lighter;
    font-size: 2rem;
    flex-grow: 1;
    flex-basis: 20%;
    transition: all 0.5s ease;
    padding: 0.5rem 0.5rem;
    margin-right: 1.5rem;
    text-decoration: none;
}.button:hover {
    color: $color-orange;
    border-color: $color-orange;
}.pages .button:last-child {
    margin-right: 0;
}

.social {
    display: flex;
}.social .button {
    font-size: 2.5rem;
    color: $color-base01;
    background-color: transparent;
    flex-grow: 1;
    margin-right: 2rem; 
    transition: all 0.3s ease;
}.social .button.github:hover {
    color: $color-github-grey;
}.social .button.linkedin:hover {
    color: $color-linkedin-blue;
}.social .button.email:hover {
    color: $color-gmail-red;
}.social .button:last-child {
    margin-right: 0;
}

.resume {
    display: flex;
    flex-wrap: wrap;
    max-width: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}.resume .item{
    text-align: center;
    background-color: $color-base02;
    box-sizing: content-box;
    width: 100%;
    font-family: monospace;
    font-weight: lighter;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}.item.skills {
    color: $color-cyan;
    border: 0.2rem solid $color-cyan;
}.item.skills .tech-skill-list {
    font-size: 1rem;
    color: $color-base1;
    font-weight: normal;
    margin-bottom: 0.5rem;
}.item.skills .tech-skill-list:last-child {
    margin-bottom: 0;
}.item.prof-background {
    color: $color-magenta;
    border: 0.2rem solid $color-magenta;
}.item.prof-background .title-dates {
    color: $color-base1;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: bold;
}.item.prof-background .text-desc {
    font-size: 1.25rem;
    font-weight: normal;
    margin-top: 0.3rem;
    margin-bottom: 0.75rem;
    color: $color-base0;
}.item.edu-background {
    color: $color-green;
    border: 0.2rem solid $color-green;
}.item.edu-background .school-dates {
    color: $color-base1;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}.item.edu-background .text-desc {
    font-size: 1.25rem;
    font-weight: normal;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: $color-base0;
}.item.resume-downloads {
    color: $color-base0;
    border: 0.2rem solid $color-base0;
}.item.resume-downloads button {
    background-color: $color-base0;
    border: none;
    color: $color-base3;
    padding: 1.0vh 1.0vw;
    font-size: 1rem;
    margin-right: 0.5rem;
}.item.resume-downloads button:focus {
    outline: none;
}.item.resume-downloads button:hover {
    background-color: $color-blue;
}.resume .item:last-child {
    margin-bottom: 0;
}

.subtitle {
    font-size: 1.5rem;
}

.sub-subtitle {
    font-size: 1.25rem;
    color: $color-yellow;
}

.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
}.scroll-to-top > button {
    background-color: $color-base01;
    border: none;
    color: $color-base3;
    padding: 1.0vh 1.0vw;
    font-size: 1rem;
    border-radius: 5%;
    transition: all 0.3s ease;
}.scroll-to-top > button:focus {
    outline: none;
}.scroll-to-top > button:hover {
    background-color: $color-base0;
    transition: all 0.3s ease;
}